<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About me!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/photo-galery">Photo Galery</a></li>
    </ul>
    <h1>About me!</h1>
    <p>
      Dwayne Douglas Johnson (born May 2, 1972),<br />
      also known by his ring name The Rock, is an American actor, producer and
      retired professional wrestler.
    </p>
  </body>
</html>
