<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photo Galery</title>
    <link rel="stylesheet" href="/stylesheets/photo-galery.css" />
  </head>

  <body>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <div class="images">
      <div>
        <img src="./images/Dwayne1.jpg" alt="" />
      </div>
      <div>
        <img src="./images/Dwayne2.jpg" alt="" />
      </div>
      <div>
        <img src="./images/Dwayne3.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
